@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Pacifico&display=swap');


.app {
    background-color: #ffe6e6;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .container {
    background-color: #fff5d9; 
    padding: 20px;
    border-radius: 10px;
    max-width: 60%;
    max-height: 60%;
    margin: 30px auto 0;

  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;    
  }

  .header h1 {
    margin-left: 20px;
    font-size: 60px;
    color: #333;
    font-family:'Pacifico';
  }

  .photo {
    margin-right: 20px;
  }
  
  .photo img {
    width: 200px;
    height: auto;
    border-radius: 50%;
  }

  .about {
    margin-top: 20px;
  }
  
  .about p {
    font-size: 16px;
    color: #333; 
    line-height: 1.5; 
  }

  .animated-container {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px; 
    opacity: 0;
    margin-bottom: 30px; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }